* {box-sizing: border-box}

.container {
  padding: 16px;
  background-color:#fcfcfc;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #9EC97C;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.gambar {
  max-width:795 ;
  padding : 0cm;
  margin: 0 auto;
  height:60vh ;
  background-color: rgb(222, 235, 222);
}

.ditengah {
  text-align: center;
}

#navbar {
  background-color: #9EC97C;
}